<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title><%= typeof title !== 'undefined' ? title : 'MySite' %></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      margin: 0;
      font-family: "배달의민족 주아 OTF";
      font-size: 16px; 
    }

    input[name="username"] {
      font-family: Arial !important;
      font-weight: bold;
    }
  
    input[name="passwordConfirm"] {
      font-family: Arial !important;
      font-weight: bold;
    }
    
    input[name="password"] {
      font-family: Arial !important;
      font-weight: bold;
    }
  </style>
</head>
<body>

  <%- include('partials/navbar') %>

  <div class="container mt-4">
    <%- body %>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
