<% layout('layout') %>

<div class="container mt-5 text-center">
  <h2>๋ก๊ทธ์ธ ์คํจ ๐ข</h2>
  <p>์์ด๋ ๋๋ ๋น๋ฐ๋ฒํธ(๋,์๋ฌธ์ ๊ตฌ๋ถ)๊ฐ ์ฌ๋ฐ๋ฅด์ง ์์ต๋๋ค.</p>
  <a href="/login" class="btn btn-primary mt-3">๋ค์ ๋ก๊ทธ์ธํ๊ธฐ</a>
</div>
