body {
  margin: 0;
  font-family: '배달의민족 주아 OTF';
}

.nav {
  display: flex;
  padding: 15px;
  align-items: center;
  background: white;
}

.nav a {
  margin-right: 10px;
}

.logo {
  font-weight: bold;
}

.grey-bg {
  background: #eee;
}

.white-bg {
  background: white;
  margin: 20px;
  border-radius: 5px;
}

.list-box {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.list-box h4 {
  font-size: 16px;
  margin: 5px;
}

.list-box p {
  font-size: 13px;
  margin: 5px;
  color: grey;
}

input, div {
  box-sizing: border-box;
  border: 1px solid black;
}

.form-box {
  background: white;
  padding: 25px;
  margin: 20px;
  border-radius: 8px;
}

.form-box input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}

.form-box button {
  padding: 10px;
  border: none;
  background: lightgrey;
  border-radius: 5px;
}

.custom-btn {
  width: 80%;             /* 버튼 넓이: 80% */
  font-size: 1.2rem;       /* 버튼 글자 크기: 1.2배 (기본보다 큼) */
  padding: 12px 0;         /* 버튼 높이 여유 */
}

th[colspan] {
  background-color: #f0f8ff;
  font-weight: bold;
}